@font-face {
  font-family: 'Helvetica Neue';
  src: url('/assets/fonts/HelveticaNeue.eot');
  src: url('/assets/fonts/HelveticaNeue.eot?#iefix') format('embedded-opentype'),
      url('/assets/fonts/HelveticaNeue.woff2') format('woff2'),
      url('/assets/fonts/HelveticaNeue.woff') format('woff'),
      url('/assets/fonts/HelveticaNeue.ttf') format('truetype'),
      url('/assets/fonts/HelveticaNeue.svg#HelveticaNeue') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}