/* Breakpoints */
$bpMobile: 320px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;
$bpXLgDesktop: 1366px;

/* Padding gutter */
$gutter: 30px;

/* Font */
$primaryFont: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$base-fontsize: 16px;
$base-lineheight: 1.5;
$thin: 100;
$light: 200;
$book: 300;
$normal: 400;
$medium: 500;
$semibold: 600;
$bold: 700;
$heavy: 800;
$black: 900;

/* Colors */
$white: #fff;
$blck: #000;
$orange: #f39200;