// Import Third-party plugins' CSS here
@import '../../node_modules/normalize.css/normalize';

// Site Mixins, Variables and Fonts here
@import "./_mixins";
@import "./_var";
@import "./_styles";
@import "./_fonts";

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

html {
  font-size: $base-fontsize;
}

body {
  font-family: $primaryFont;
  color: $blck;
  line-height: $base-lineheight;
  margin: 0;
  padding: 0;

  h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
  }
}

// Default YEO css
.yeo-info {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 100vh;

  .title {
    margin: 0;
  }
  
  .logo {
    width: 180px;
    height: auto;
    margin: 1em auto;

    img {
      width: 100%;
      height: auto;
    }

    .hexagon {
      animation: rotate 80s ease-in-out infinite;
      position: relative;
      transform-box: fill-box;
      transform-origin: center;
      animation-delay: 8s;
    }
    
    @keyframes rotate {
      10%, 100% {
        transform: rotate(-360deg);
      }
    }
  }
}

// Print layout here
@media print {

}

// Import Modules CSS here
@import "../_modules/atoms/button/button";
