.button {
  display: inline-block;
  padding: 10px 20px;
  background-color: $orange;
  color: $white;
  border: 2px solid $orange;
  text-decoration: none;
  border-radius: 5px;
  box-shadow: none;
  transition: all 0.5s cubic-bezier(0.075, 0.82, 0.165, 1);

  &:hover {
    color: $blck;
    background-color: transparent;
    box-shadow: 0 0 0 5px $orange50;
  }

  &:focus {
    box-shadow: 0 0 0 5px $orange50;
  }
}