extends _layouts/base

include ./_modules/atoms/button/button

block config
  - isHome = true
  - var pageTitle = 'Amiculum Digital'
  - var page = 'homepage'
  - var site = htmlWebpackPlugin.options //global site data
  - var env = site.env
  - var dir = site.directory

block content
  .yeo-info
    .logo.hidden
      img(src="/assets/images/logo.png" alt="Amiculum Digital Logo" width="184" height="209")
    .logo 
      svg(width='184' height='198' viewBox='0 0 104 118' fill='none' xmlns='http://www.w3.org/2000/svg')
        path(d='M9.31153 100.786C10.9221 100.676 12.5158 101.171 13.7793 102.174C14.8572 103.094 15.3414 104.513 15.3414 106.47C15.3672 107.377 15.262 108.283 15.029 109.16C14.7984 109.862 14.4233 110.507 13.9277 111.055C13.3792 111.592 12.7248 112.009 12.0062 112.279C11.1378 112.566 10.2257 112.698 9.31153 112.669H5V100.786H9.31153ZM10.53 111.328C10.888 111.266 11.2352 111.153 11.561 110.993L11.9906 110.774C12.3273 110.555 12.6145 110.268 12.8342 109.932C13.1157 109.535 13.3247 109.092 13.4512 108.622C13.6225 108.024 13.7015 107.404 13.6855 106.782C13.6939 106.135 13.6151 105.49 13.4512 104.864C13.3176 104.336 13.0843 103.839 12.7639 103.398C12.3996 103.013 11.9648 102.7 11.4829 102.478C10.834 102.283 10.1609 102.181 9.48337 102.174H6.69494V111.39H9.78018C10.0314 111.389 10.2821 111.368 10.53 111.328V111.328Z' fill='#F39200')
        path(d='M24.3941 100.786V112.7H22.7773V100.786H24.3941Z' fill='#F39200')
        path(d='M40.0937 112.615C39.3745 112.851 38.6244 112.979 37.8676 112.997C37.0127 113.027 36.1638 112.842 35.3994 112.459C34.6738 112.162 34.0191 111.715 33.478 111.149C32.9336 110.619 32.5354 109.959 32.322 109.231C32.0398 108.522 31.9094 107.762 31.9392 107.001C31.9234 106.146 32.0259 105.293 32.2439 104.466C32.5184 103.745 32.9088 103.074 33.3998 102.478C33.9242 101.885 34.5513 101.391 35.251 101.02C36.0791 100.67 36.9684 100.487 37.8676 100.482C38.5154 100.478 39.1611 100.557 39.789 100.716C40.3632 100.851 40.91 101.083 41.4059 101.402C41.8893 101.731 42.3054 102.149 42.6321 102.634C42.9599 103.207 43.1945 103.828 43.3273 104.474H41.6324C41.5752 104.06 41.4169 103.667 41.1715 103.328C40.9544 102.988 40.6668 102.698 40.328 102.478C40.0066 102.248 39.6387 102.091 39.2501 102.018C38.8005 101.893 38.3338 101.84 37.8676 101.862C37.2041 101.854 36.5465 101.987 35.9383 102.252C35.4136 102.55 34.9457 102.938 34.5558 103.398C34.2347 103.905 33.9727 104.446 33.7748 105.012C33.6178 105.642 33.5417 106.289 33.5482 106.938C33.5317 107.54 33.6353 108.139 33.8529 108.7C34.0052 109.282 34.2974 109.817 34.7042 110.26C35.0461 110.718 35.4936 111.087 36.0086 111.336C36.5923 111.591 37.2228 111.721 37.8598 111.718C38.4603 111.707 39.0555 111.604 39.625 111.414C40.1052 111.206 40.5484 110.922 40.9372 110.572C41.2404 110.19 41.5022 109.777 41.7183 109.34C41.8764 108.835 41.9555 108.309 41.9526 107.78H37.9457V106.47H43.4132V112.708H42.3353L41.9448 111.235C41.4367 111.825 40.8047 112.296 40.0937 112.615V112.615Z' fill='#F39200')
        path(d='M52.8799 100.786V112.7H51.263V100.786H52.8799Z' fill='#F39200')
        path(d='M59.644 102.096V100.786H69.7198V102.096H65.4942V112.7H63.8774V102.096H59.644Z' fill='#F39200')
        path(d='M80.0378 100.786L84.9586 112.7H83.1153L81.7249 109.16H76.4214L75.0311 112.7H73.2659L78.1867 100.786H80.0378ZM81.186 107.804L79.1083 102.275H79.038L76.9604 107.804H81.186Z' fill='#F39200')
        path(d='M93.1208 100.786V111.39H99.8146V112.7H91.4258V100.786H93.1208Z' fill='#F39200')
        path.hexagon(d='M69.4056 7H35.747C33.8092 7.0093 31.9081 7.52827 30.2352 8.50463C28.5623 9.48099 27.1768 10.8803 26.2181 12.5614L9.47193 41.3481C8.5071 43.0494 8 44.9711 8 46.9261C8 48.8811 8.5071 50.8028 9.47193 52.5041L26.2181 81.5896C27.2088 83.2299 28.6059 84.5879 30.2748 85.5329C31.9438 86.4778 33.8283 86.978 35.747 86.985H69.4056C71.3243 86.978 73.2088 86.4778 74.8777 85.5329C76.5466 84.5879 77.9437 83.2299 78.9344 81.5896L95.6806 52.5705C96.6454 50.8693 97.1526 48.9475 97.1526 46.9925C97.1526 45.0375 96.6454 43.1158 95.6806 41.4145L78.9344 12.5614C77.9771 10.8791 76.5918 9.47893 74.9187 8.5024C73.2455 7.52587 71.3437 7.00761 69.4056 7V7Z' fill='url(#paint0_linear)')
        path(d='M69.738 21.908L81.5618 28.6315C81.9872 28.8932 82.3437 29.2528 82.6012 29.6803C82.8587 30.1078 83.0098 30.5907 83.0419 31.0885V62.9298C83.0098 63.4276 82.8587 63.9105 82.6012 64.338C82.3437 64.7655 81.9872 65.1251 81.5618 65.3868L53.973 81.1912C53.5483 81.436 53.0665 81.5649 52.5761 81.5649C52.0857 81.5649 51.6039 81.436 51.1792 81.1912L23.5905 65.3536C23.1694 65.0951 22.8157 64.7407 22.5584 64.3194C22.3012 63.898 22.1476 63.4218 22.1104 62.9298V31.0885C22.1425 30.5907 22.2936 30.1078 22.5511 29.6803C22.8086 29.2528 23.165 28.8932 23.5905 28.6315L51.1792 12.7275C51.6039 12.4827 52.0857 12.3538 52.5761 12.3538C53.0665 12.3538 53.5483 12.4827 53.973 12.7275L60.6249 16.662L60.9575 16.994V32.4H60.6249L53.973 28.6315C53.5483 28.3867 53.0665 28.2579 52.5761 28.2579C52.0857 28.2579 51.6039 28.3867 51.1792 28.6315L37.3932 36.5005C36.9877 36.7696 36.6554 37.135 36.4262 37.5638C36.1969 37.9926 36.0777 38.4715 36.0794 38.9575V54.6291C36.0763 55.1155 36.1948 55.5949 36.4242 56.024C36.6536 56.453 36.9866 56.8181 37.3932 57.0861L51.1792 64.9551C51.6039 65.1999 52.0857 65.3288 52.5761 65.3288C53.0665 65.3288 53.5483 65.1999 53.973 64.9551L67.7757 57.0861C68.1802 56.8159 68.5116 56.4504 68.7408 56.0218C68.9699 55.5933 69.0897 55.1149 69.0895 54.6291V22.24C69.0895 21.908 69.4055 21.742 69.738 21.908Z' fill='white')
        path(d='M59.2779 42.4106L53.3744 38.9575C53.1554 38.8112 52.8978 38.7331 52.6343 38.7331C52.3708 38.7331 52.1133 38.8112 51.8943 38.9575L45.9741 42.4106C45.7612 42.5118 45.5847 42.6761 45.4687 42.8811C45.3526 43.0861 45.3026 43.3218 45.3256 43.5561V50.429C45.3026 50.6633 45.3526 50.899 45.4687 51.104C45.5847 51.309 45.7612 51.4733 45.9741 51.5745L51.8943 55.1936C52.3737 55.3593 52.895 55.3593 53.3744 55.1936L59.2779 51.5745C59.494 51.4758 59.674 51.3126 59.7931 51.1074C59.9123 50.9022 59.9647 50.6652 59.9431 50.429V43.5561C59.9647 43.3199 59.9123 43.0829 59.7931 42.8777C59.674 42.6725 59.494 42.5093 59.2779 42.4106Z' fill='white')
        defs
          lineargradient#paint0_linear(x1='8.00851' y1='46.9925' x2='97.1607' y2='46.9925' gradientUnits='userSpaceOnUse')
            stop(stop-color='#FBBA00')
            stop(offset='1' stop-color='#F39200')

    h1.text-orange-500.font-bold.text-center.text-3xl= site.data.info.title
    
    p.text-center Thank you for using Amiculum YEO site generator,
      br 
      | To learn more about 
      strong.text-orange-500 Amiculum Digital - Site Generator
      |, click on the button below
    
    +button({
      "__class": "my-10",
      "__text": "Learn More", 
      "__link": "https://www.npmjs.com/package/generator-yeo",
      "__target": "_blank"
    })