//- Extends base layout ('/src/' is the root path)
extends /src/_layouts/base

//- Sample Module import ('/src/' is the root path)
//- include /src/_modules/atoms/module-name/module-name

block config
  - isHome = false
  - var pageTitle = 'Page Title'
  - var page = '<%= name %>'
  - var site = myData //global site data
  - var env = site.env
  - var dir = site.directory

block content
  p <%= name %> page
